#DrJava configuration file
#Thu Sep 04 11:46:06 PDT 2014
font.main = Monospaced-14
font.line.numbers = Monospaced-14
font.doclist = Dialog-12
font.toolbar = Dialog-10
lineenum.enabled = true
key.delete.next = [shift DELETE]
key.delete.previous = [shift BACK_SPACE]
javadoc.api.ref.version = 1.7
javadoc.additional.links = [http://www-cs-faculty.stanford.edu/~eroberts/jtf/javadoc/student/,http://faculty.orangecoastcollege.edu/sgilbert/media-comp-docs/]
interactions.exit.prompt = false
quit.prompt = false
interactions.reset.prompt = false
save.before.compile = true
warn.change.laf = false
indent.level = 4
show.unchecked.warnings = false
show.deprecation.warnings = false
window.height = 664
window.width = 1366
window.x = 0
window.y = 216
doc.list.width = 166
last.dir = C:\\Users\\j12student
last.interactions.dir = C:\\Users\\j12student
tabbedpanes.state = 800 450 700 400
dialog.jaroptions.state = 539 286
dialog.drjava.error.popup.enabled = false
dialog.drjava.survey.enabled = false
new.version.notification = none (disabled)
new.version.notification.last = 1277159411712
drjava.survey.notification.last = 1263336901631
drjava.survey.result.last = http://www.drjava.org/submit-usage.php?rev=5122&os.name=Windows%20XP&os.version=5.1&java.version=1.6.0_17&java.vendor=Sun%20Microsystems%20Inc.
